.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form', :class => 'payment-form'}) do |f|
    %h3 Free Download
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      %label{:for => "user_coupon_attributes_code"} Invitation code
      %input#user_coupon_attributes_code.form-control{:name => "user[coupon_attributes][code]", :type => "text"}/
    %p
      No invitation code? You can #{link_to 'purchase the book', root_path}.
    = f.submit 'Sign up', :class => 'button right'
